body {
	text-align: center;
	background-color: #e6e6ff;
}

#tictac {
	display: inline-block;
}

h1 {
	font-family: 'Josefin Slab', serif;
}

h2 {
	font-family: 'Marck Script', cursive;
	margin-top: 100px;
}

.square {
	height : 80px;
	width: 80px;
	font-size: 40px;
	border-style: solid;
	text-align: center;
}

#restart {
	display: inline;
	color: black;
	text-decoration: none;
	font-family: 'Josefin Slab', serif;
}